* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(120deg, #65b7f6 0%, #ad85fd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    color: #333;
}

input {
    margin-bottom: 15px;
    text-align: left;
}

input label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: 500;
}

input {
    width: calc(100% - 20px);
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    margin: 0 auto;
    width: 200px;
}

input:focus {
    border-color: #ffffff;
}

button {
    background: #00cf0e;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 0 auto;
    display: block;
}

button:hover {
    background: #26fd00;
}

.results {
    margin-top: 25px;
    text-align: left;
}

h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #555;
}

.user {
    background: #fff4e3;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.user:hover {
    background: #ffe8c5;
}

